html body {
    background-color: #FFFFFF;
  }

p{
    font-family: 'Poppins';
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .icono-check {
    width: 18px;

  }
  
  .titulo {
    color: #3b1442; /* morado */
    font-weight: bold;
  }
h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    color: #3b1442;
    text-align: center;
    margin-bottom: 40px;
}
h3{
  font-weight: 600;
  font-family: 'Poppins';
  font-size: 20px;
  color: #3b1442;
}

.navbar {
    background-color: #3b1442 !important; /* fondo personalizado */
    /* O con imagen de fondo: */
    /* background-image: url('../img/fondo-navbar.jpg'); */
    /* background-size: cover; */
}


.navbar-nav .nav-link {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #b4d234 !important; /* color del texto */
    margin-right: 10px;
    transition: color 0.3s;
    position: relative; /* Necesario para el posicionamiento de la línea */
    text-decoration: none; /* Elimina el subrayado predeterminado */
}
.nav-link:hover::after {
  content: ""; /* Crea un contenido vacío para la línea */
  position: absolute; /* Posiciona la línea de forma absoluta */
  left: 0; /* Alinea la línea a la izquierda del texto */
  bottom: -1px; /* Ajusta la posición vertical de la línea */
  width: 100%; /* La línea ocupará todo el ancho del texto */
  height: 2px; /* Altura de la línea */
  background-color: #b4d234; /* Color de la línea (puedes cambiarlo) */
  transition: all 0.3s ease; /* Transición suave */
}

.navbar-light .navbar-toggler {
    border-color: #b4d234; /* Cambia el color del borde alrededor del icono */
  }


  
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23b4d234' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  

  

.carousel-indicators {
    margin-bottom: 30px;
}
  
.carousel-indicators [data-bs-target] {
    all: unset; /* Reinicia todos los estilos heredados */
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f2f2f2;
    /* opacity: 0.5; */
    margin: 0 5px;
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s;
}
  
.carousel-indicators [data-bs-target]::before {
    content: none !important; /* Elimina pseudo-elementos que generan la forma de pastilla */
}
  
.carousel-indicators .active {
    background-color: #b4d234;
    opacity: 1;
}
  


.footer {
    background-color: #6f2f73;
    font-family: 'Poppins';
    font-size: 16px;
    color: #b4d234;

}

.footer a {
    color: #b4d234;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


@media (min-width: 768px) {
    .image-container {
      height: 100%; /* quitar el 100vh */
      max-height: 600px; /* nueva altura ajustada */
      overflow: hidden;
    }
  
    .image-container img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    .text-container {
      max-height: 600px; /* opcional: para que no quede más alto que la imagen */
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  

  i{
    font-size: 25px;
    color: #b4d234;
    margin-right: 10px;

  }


/* SOLO para brandCarousel */
#brandCarousel .slide-btn {
  opacity: 1 !important;
  background: transparent;
  border: none;
}

#brandCarousel .slide-btn i {
  font-size: 40px;
  color: #b4d234;
}

#brandCarousel .carousel-control-prev {
  left: -80px;
}

#brandCarousel .carousel-control-next {
  right: -80px;
}

#brandCarousel .carousel-item > div {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

#brandCarousel .carousel-item img {
  max-height: 150px;
}

/* Ajustes solo en móviles para brandCarousel */
@media (max-width: 767px) {
  #brandCarousel .carousel-item > div {
    justify-content: center !important;
  }

  #brandCarousel .carousel-item img {
    max-height: 80px;
    flex: 0 0 30%;
  }

  #brandCarousel .carousel-control-prev,
  #brandCarousel .carousel-control-next {
    top: -25%;
    /* transform: translateY(-50%); */
  }

  #brandCarousel .carousel-control-prev {
    left: 10px;
  }

  #brandCarousel .carousel-control-next {
    right: 10px;
  }

  #brandCarousel .slide-btn i {
    font-size: 32px;
  }
}
.bg-light-custom {
  background-color: #f2f2f2;
  width: 100%;
  padding: 2rem 0; /* Ajusta el padding según sea necesario */
}

a {
  color: inherit; /* Hereda el color del elemento padre */
  text-decoration: none; /* Quita el subrayado */
}

a:hover {
  color: #b4d234 !important; /* Cambia este color al que tú desees */
}

