html body {
    background-color: #f2f2f2;
  }

.navbar {
    background-color: #3b1442 !important; /* fondo personalizado */
    /* O con imagen de fondo: */
    /* background-image: url('../img/fondo-navbar.jpg'); */
    /* background-size: cover; */
}


.navbar-nav .nav-link {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #b4d234 !important; /* color del texto */
    margin-right: 10px;
    transition: color 0.3s;
}




